--lineend=linux
--style=kr
--indent=spaces=4
--convert-tabs
--suffix=none
--errors-to-stdout

--indent-preprocessor
--min-conditional-indent=0

--pad-oper
--pad-header
--unpad-paren
--add-brackets
--align-pointer=middle
--align-reference=middle

--close-templates
--max-code-length=100
--break-after-logical

